:root {
  --mainly-botton-color: rgba(224, 224, 224, 0.3);
  --mainly-botton-color-hover: rgb(255, 255, 255);
  --main-color-background-green: #0c701a;
  --linear-color-meeting: rgb(3, 131, 103);
  --screen-x: 1800px;
}

:root {
  --color-words: rgb(169, 223, 124);
  --color-blue: rgb(45, 138, 175);
}

.about-roundnet-screen {
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.info-roundnet {
  margin: 25px 0 50px;
  max-width: 100vw;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media only screen and (min-width: 1200px) {
  .info-roundnet {
    margin: 150px 0 50px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 275px 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 3fr;
    grid-template-rows: 3fr;
    grid-gap: 200px;
    grid-column-gap: 275px;
    width: auto;
  }
  .info-roundnet > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .info-roundnet > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
}

.about-roundnet-screen a {
  width: 60%;
  padding: 1rem;
  margin: 0 0 1em;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 1.7em;
  font-family: "Anton", sans-serif;
  background-color: var(--color-blue);
  z-index: 11;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media only screen and (min-width: 1200px) {
  .about-roundnet-screen a {
    font-size: 2.3em;
    width: 30%;
    margin: 6rem 0 1em;
  }
}

.line-screen-about {
  position: absolute;
  right: 50%;
  top: 0;
  width: 4px;
  height: 93%;
  display: none;
  background-color: #00000033;
  z-index: 10;
}
@media only screen and (min-width: 1200px) {
  .line-screen-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.line-screen-about .line-screen-about-children:nth-child(odd) {
  left: -25px;
}

.line-screen-about-children {
  position: relative;
  width: 25px;
  height: 4px;
  background-color: #00000033;
}

.box-info-roundnet {
  width: 92vw;
  height: auto;
  margin: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media only screen and (min-width: 1200px) {
  .box-info-roundnet {
    width: 500px;
    height: 300px;
    margin: 0 0;
  }
}

.box-info-image {
  display: none;
}
@media only screen and (min-width: 1200px) {
  .box-info-image {
    display: inline;
  }
}

.box-info-roundnet h3 {
  font-size: 2.5em;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: var(--color-blue);
}
@media only screen and (min-width: 1200px) {
  .box-info-roundnet h3 {
    font-size: 3.5em;
  }
}

.box-info-roundnet p {
  font-size: 2em;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: var(--color-blue);
}

.box-info-roundnet img {
  border-radius: 25px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 5px 0px 25px;
          box-shadow: 5px 0px 25px;
}
@media only screen and (min-width: 1200px) {
  .box-info-roundnet img {
    display: inline;
    width: 500px;
    height: 300px;
  }
}

.about-arr-description {
  margin-top: 25px;
}
@media only screen and (min-width: 1200px) {
  .about-arr-description {
    margin-top: 0;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: var(--mainly-botton-color-hover);
  font-size: 16px;
}

@media only screen and (min-width: 1200px) {
  header {
    min-height: 100px;
  }
}

.image-background-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(246, 252, 245, 0.01)), to(rgba(255, 255, 255, 0))), url(../img/allaar.avif);
  background-image: linear-gradient(to bottom, rgba(246, 252, 245, 0.01), rgba(255, 255, 255, 0)), url(../img/allaar.avif);
  /* background-image: url(../img/BackGroundHeader.jpg); */
  background-position: center;
  background-attachment: unset;
  background-repeat: no-repeat;
  height: 100vh;
  margin-top: -30px;
}
.image-background-header h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 3em;
  color: white;
  text-align: center;
}
@media only screen and (min-width: 1200px) {
  .image-background-header {
    height: calc(var(--screen-x) * 9 / 16);
    min-height: 600px;
    background-size: 100%;
    margin-top: 0;
  }
  .image-background-header h1 {
    font-family: "Bebas Neue", cursive;
    font-size: 6em;
  }
}

/*menu*/
.section-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 99vw;
  min-height: 5px;
  background-color: white;
}
@media only screen and (min-width: 1200px) {
  .section-menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.image-header img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100px;
  height: 100px;
}

.box-button-header-responsive {
  display: block;
  font-size: 2em;
  color: rgba(4, 144, 168, 0.6);
  margin-right: 20px;
}
@media only screen and (min-width: 800px) {
  .box-button-header-responsive {
    display: none;
  }
}

.desactive {
  display: none;
}
@media only screen and (min-width: 800px) {
  .desactive {
    display: block;
  }
}

.section-menu-menu {
  width: 60%;
  position: relative;
}
.section-menu-menu nav {
  position: absolute;
}
@media only screen and (min-width: 800px) {
  .section-menu-menu {
    width: 60%;
  }
  .section-menu-menu nav {
    position: relative;
  }
  .section-menu-menu .box-button-header-responsive {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  .section-menu-menu {
    width: 60%;
  }
}

.menu {
  width: 70vw;
  height: 10%;
  padding-left: 0;
  list-style: none;
  margin-top: 50px;
  margin-right: 5px;
  margin-bottom: 0;
  border-radius: 15px 15px 15px 15px;
  -webkit-box-flex: 5;
      -ms-flex: 5 1 auto;
          flex: 5 1 auto;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--mainly-botton-color-hover);
}
@media only screen and (min-width: 800px) {
  .menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 70%;
    margin-top: 5px;
    background: var(--mainly-botton-color);
  }
}

.menu li {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  text-align: center;
}
.menu li a {
  font-size: 1.5em;
}
@media only screen and (min-width: 1200px) {
  .menu li a {
    font-size: 1.3em;
  }
}

.menu a {
  text-decoration: none;
  color: #7a7a7a;
  display: block;
  line-height: 2;
  font-weight: bold;
}

.menu a:hover {
  background-color: var(--mainly-botton-color-hover);
  color: black;
  border-radius: 15px 15px 15px 15px;
}

.toggle-menu {
  background-color: aqua;
  background: #2c7d96;
  line-height: 2;
  padding-left: 1mm;
  font-size: 1.9em;
  display: none;
}

/*images and info*/
.more-about {
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
@media only screen and (min-width: 800px) {
  .more-about {
    height: 70%;
  }
}

.text-more {
  text-align: center;
  font-size: 3cm;
  color: white;
  font-family: "Bebas Neue", cursive;
}

.btn-more-about {
  text-decoration: none;
}

.btn-more-about a {
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
  font-size: 0.8cm;
  padding: 15px 80px;
  border: white solid 1px;
  background-color: rgba(4, 144, 168, 0.6);
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.btn-more-about a:hover {
  border: #076986 solid 2px;
}

.container-section-calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: dimgray;
  background-image: url(../img/BackGroundHeader.jpg);
  background-size: cover;
  background-position: center;
  padding: 5% 1%;
  margin-top: 5%;
}
@media only screen and (min-width: 500px) {
  .container-section-calendar {
    padding: 5%;
  }
}

.container-section-calendar h1 {
  font-size: 4em;
  float: top;
}

.section-calendar-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.info-calendar {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  border: solid 2px black;
  background-color: rgba(36, 36, 36, 0.8);
  border-radius: 1%;
  padding: 1em 0;
  height: 22rem;
  text-align: center;
  width: 94vw;
  padding: 2em;
  font-size: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 0px 14px 43px -21px black;
  box-shadow: 0px 14px 43px -21px black;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
@media only screen and (min-width: 500px) {
  .info-calendar {
    width: 500px;
    min-width: 21%;
    margin-left: 2%;
    margin-right: 2%;
  }
}

.info-calendar:nth-child(2) {
  margin-top: 5%;
  margin-bottom: 5%;
}

.info-calendar:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

.info-calendar h4 {
  font-size: 2em;
}
@media only screen and (min-width: 500px) {
  .info-calendar h4 {
    font-size: 3em;
  }
}

.info-calendar h5 {
  font-size: 1em;
}
@media only screen and (min-width: 500px) {
  .info-calendar h5 {
    font-size: 1.3em;
  }
}

.info-calendar-meet {
  border: 3px solid var(--linear-color-meeting);
}
.info-calendar-meet h2 {
  font-size: 2em;
}
@media only screen and (min-width: 500px) {
  .info-calendar-meet h2 {
    font-size: 2em;
  }
}

.info-calendar-tourney {
  border: 3px solid #fc0000;
}

@media only screen and (max-width: 1885px) {
  .container-section-calendar h1 {
    margin: 0 0 2% 0;
  }
}
@media only screen and (min-width: 1207px) and (max-width: 1885px) {
  .info-calendar {
    width: 300px;
  }
}
.last-events-screen {
  width: 98%;
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media only screen and (min-width: 500px) {
  .last-events-screen {
    margin: 100px 0;
  }
}
@media only screen and (min-width: 1200px) {
  .last-events-screen {
    width: 80%;
    margin: 100px 10%;
  }
}

.last-events {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media only screen and (min-width: 1200px) {
  .last-events {
    width: 600px;
  }
}

.last-events h4 {
  width: 100%;
  margin-top: 1rem;
  padding-bottom: 1%;
  text-align: center;
  font-size: 3.8em;
  font-style: normal;
  font-family: "Permanent Marker", cursive;
}
@media only screen and (min-width: 1200px) {
  .last-events h4 {
    width: 600px;
    font-size: 2.8em;
  }
}

.last-events h5 {
  width: 92%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.7em;
  font-style: normal;
  font-family: "Bebas Neue", cursive;
}
@media only screen and (min-width: 500px) {
  .last-events h5 {
    font-size: 2em;
  }
}
@media only screen and (min-width: 1200px) {
  .last-events h5 {
    width: 600px;
    font-size: 1.8em;
  }
}

.last-events-video {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.last-events-video p {
  width: 100%;
  margin-top: 1rem;
  font-size: 1.6em;
  font-style: normal;
  font-family: "Zen Kurenaido", sans-serif;
}
@media only screen and (min-width: 650px) {
  .last-events-video p {
    font-size: 2.2em;
  }
}
@media only screen and (min-width: 1200px) {
  .last-events-video p {
    width: 600px;
    font-size: 1.8em;
  }
}

.last-events-video a {
  width: 60%;
  background-color: var(--color-blue);
  margin-top: 50px;
  padding: 1rem;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 2em;
  font-family: "Anton", sans-serif;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.last-events-video a:hover {
  background-color: var(--main-color-background-green);
  color: white;
}
@media only screen and (min-width: 650px) {
  .last-events-video a {
    font-size: 2.3em;
  }
}
@media only screen and (min-width: 1200px) {
  .last-events-video a {
    font-size: 1.3em;
    width: 60%;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.events-video {
  width: 100%;
  height: 230px;
  background-color: aqua;
}
.events-video iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 1;
  z-index: 9;
}
@media only screen and (min-width: 650px) {
  .events-video {
    height: 300px;
  }
}
@media only screen and (min-width: 1200px) {
  .events-video {
    width: 100%;
    height: 340px;
  }
}

.box-dimentions, .btn-show-more, .box-places {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.meeting-places {
  width: 95vw;
  background-color: var(--color-blue);
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 1px 0px 20px 2px;
          box-shadow: 1px 0px 20px 2px;
  max-width: 100vw;
}
@media only screen and (min-width: 500px) {
  .meeting-places {
    margin-top: 120px;
  }
}
@media only screen and (min-width: 1200px) {
  .meeting-places {
    margin-top: 0;
    width: 600px;
  }
}

.meeting-places h4 {
  width: 90%;
  margin: 3% 0;
  padding: 5px 0 0 0;
  text-align: center;
  font-size: 1.6em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
@media only screen and (min-width: 1200px) {
  .meeting-places h4 {
    width: 80%;
    font-size: 2em;
  }
}

.box-places {
  width: 92%;
  padding: 2% 5%;
  margin: 1%;
  position: relative;
}
.box-places h5 {
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
}
.box-places p {
  width: 60%;
  padding: 10px 0;
  font-size: 0.6em;
  font-family: Arial, Helvetica, sans-serif;
}
@media only screen and (min-width: 500px) {
  .box-places h5 {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
  }
  .box-places p {
    width: 70%;
    font-size: 0.8em;
    padding: 10px 0;
  }
}
@media only screen and (min-width: 1200px) {
  .box-places {
    padding: 20px 50px;
  }
  .box-places h5 {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
  }
  .box-places p {
    width: 70%;
    font-size: 0.9em;
    padding: 10px 0;
  }
}

.box-places a {
  text-decoration: none;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.btn-box-places {
  width: 50%;
  height: 30px;
  background-color: #001b5e;
  border-radius: 8px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.btn-box-places h6 {
  padding: 5px 0;
  text-align: center;
  font-size: 1em;
  text-decoration: none;
  color: white;
}
.btn-box-places:hover {
  background-color: #95aae088;
}
@media only screen and (min-width: 500px) {
  .btn-box-places {
    width: 60%;
    height: 60px;
  }
  .btn-box-places h6 {
    font-size: 1em;
  }
}
@media only screen and (min-width: 1200px) {
  .btn-box-places {
    width: 50%;
    height: auto;
  }
  .btn-box-places h6 {
    font-size: 1.5em;
  }
}

.icon-whats {
  font-size: 1em;
  color: white;
}
@media only screen and (min-width: 650px) {
  .icon-whats {
    font-size: 1.1em;
  }
}
@media only screen and (min-width: 1200px) {
  .icon-whats {
    font-size: 1.5em;
  }
}

.image-meeting-places {
  right: 10px;
  top: 45%;
  bottom: 25px;
  width: 100px;
  height: 60px;
  position: absolute;
  background-size: cover;
}
@media only screen and (min-width: 650px) {
  .image-meeting-places {
    width: 150px;
    height: 100px;
    top: auto;
  }
  .image-meeting-places img {
    width: 150px;
    height: 100px;
  }
}
@media only screen and (min-width: 1200px) {
  .image-meeting-places {
    width: 130px;
    height: 90px;
    top: auto;
    right: 25px;
  }
  .image-meeting-places img {
    width: 130px;
    height: 90px;
  }
}

.image-meeting-places img {
  width: 100px;
  height: 60px;
  border: 2px white solid;
}

.box-places:nth-child(odd) .image-meeting-places img {
  border-radius: 71px 34px 69px 28px;
}

.box-places:nth-child(even) .image-meeting-places img {
  border-radius: 28px 71px 34px 69px;
}

.btn-show-more {
  padding: 10px;
  margin: 5px 0;
}

.meeting-places a {
  margin-bottom: 10px;
  width: 92%;
  text-decoration: none;
  color: black;
  text-align: center;
}
.meeting-places a h5 {
  font-size: 1em;
}
@media only screen and (min-width: 1200px) {
  .meeting-places a h5 {
    font-size: 1.5em;
  }
}

.title-news {
  font-size: 4em;
  text-align: center;
  color: var(--color-blue);
  font-style: normal;
  font-family: "Lucida Sans";
}
@media only screen and (min-width: 1200px) {
  .title-news {
    font-size: 5em;
  }
}

.section-news {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media only screen and (min-width: 1200px) {
  .section-news {
    margin-top: 85px;
    margin-bottom: 30px;
  }
}

.box-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 98vw;
  height: 80vh;
  border: 2px solid rgba(0, 0, 0, 0.15);
  margin: 2vh 0 0;
}
@media only screen and (min-width: 650px) {
  .box-news {
    height: 60vh;
    margin: 2vh 0;
  }
}
@media only screen and (min-width: 981px) {
  .box-news {
    height: 450px;
    width: 400px;
    margin: 10px 0;
    border: 0.1px solid rgba(0, 0, 0, 0.2);
  }
}

.box-news img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 98vw;
  height: 50vh;
}
@media only screen and (min-width: 981px) {
  .box-news img {
    width: 100%;
    height: 300px;
  }
}

.box-news a {
  margin: 0 0 10px;
  padding: 10px 25px 25px;
  color: var(--color-blue);
  -ms-grid-column-align: center;
      justify-self: center;
  text-decoration: none;
  font-size: 1.6em;
  font-family: "Courier New", Courier, monospace;
}
@media only screen and (min-width: 500px) {
  .box-news a {
    font-size: 1.7em;
  }
}
@media only screen and (min-width: 981px) {
  .box-news a {
    font-size: 1.3em;
  }
}

.line-screen {
  margin: 25px 0;
  width: 99vw;
  height: 1px;
  background-color: #0000005b;
}
@media only screen and (min-width: 1200px) {
  .line-screen {
    margin: 150px 0;
  }
}

.title-sponsors {
  color: var(--color-blue);
  font-size: 3em;
  font-style: normal;
  font-family: "Lucida Sans";
  text-align: center;
  margin-bottom: 50px;
}
@media only screen and (min-width: 1200px) {
  .title-sponsors {
    font-size: 5em;
  }
}

.image-sponsors {
  margin-bottom: 50px;
  text-align: center;
}

.image-sponsors img {
  border-radius: 50%;
}

.first-part-main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
}
.first-part-main-info h3 {
  margin: 15px 0px;
  font-size: 4.2em;
  font-family: "Times New Roman", Times, serif;
  color: var(--color-blue);
  justify-self: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
@media only screen and (min-width: 1200px) {
  .first-part-main-info {
    margin: 0 12vw;
    width: 75vw;
  }
  .first-part-main-info h3 {
    margin: 19px 0px;
    font-size: 4.5em;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.main-info-aar {
  text-decoration: none;
  margin: 0 3px;
}

.box-vision h3,
.box-about-roundnet h3 {
  font-size: 2.8em;
  font-family: "Times New Roman", Times, serif;
  color: var(--color-blue);
  margin: 5px 0;
}
.box-vision p,
.box-about-roundnet p {
  font-size: 1.4em;
  font-family: "Times New Roman", Times, serif;
  color: var(--color-blue);
}
@media only screen and (min-width: 1200px) {
  .box-vision h3,
.box-about-roundnet h3 {
    font-size: 4.5em;
    margin: 50px 0 0;
  }
  .box-vision p,
.box-about-roundnet p {
    font-size: 1.9em;
  }
}

.box-about-roundnet {
  margin-top: 30px;
}

.we-arr-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media only screen and (min-width: 1200px) {
  .we-arr-info {
    margin: 0 50px;
  }
}

.box-info-us-person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
}

.box-info-us-person img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
@media only screen and (min-width: 1200px) {
  .box-info-us-person img {
    width: 160px;
    height: 160px;
  }
}

.box-info-us-person-text {
  margin: 0 0 0 15px;
}
.box-info-us-person-text h4 {
  font-size: 1.9em;
  font-family: "Bebas Neue", cursive;
}
.box-info-us-person-text h5 {
  font-size: 0.9em;
}
@media only screen and (min-width: 1200px) {
  .box-info-us-person-text h4 {
    font-size: 3.2em;
  }
  .box-info-us-person-text h5 {
    font-size: 1.3em;
  }
}

.image-sponsors h4 {
  margin: 0 0 26px;
}
@media only screen and (min-width: 1200px) {
  .image-sponsors h4 {
    margin: 0 0 100px;
  }
}

#VideoBackground {
  top: 120px;
  left: 0;
  width: 100%;
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 1;
  z-index: 9;
}

.section-info-roundnet {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 99vw;
  margin: 0;
}
.section-info-roundnet h1,
.section-info-roundnet h2,
.section-info-roundnet h4 {
  margin: 10px;
  width: 100%;
  font-size: 3em;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: var(--color-blue);
}
.section-info-roundnet p {
  font-size: 2em;
  text-align: center;
  width: 97vw;
  margin: 0 0 10px;
  font-family: "Times New Roman", Times, serif;
  color: var(--color-blue);
}
@media only screen and (min-width: 1200px) {
  .section-info-roundnet {
    width: 75vw;
    margin: 0 12.5%;
  }
  .section-info-roundnet h1,
.section-info-roundnet h2,
.section-info-roundnet h4 {
    font-size: 4em;
    margin: 25px 0;
  }
  .section-info-roundnet p {
    width: 80%;
    margin: 0;
  }
}

.box-info-sport {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 0 0 10px 0;
}
@media only screen and (min-width: 1200px) {
  .box-info-sport {
    margin: 80px 0;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.what-is-sport {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.what-is-sport h2 {
  margin: 25px 0;
  font-size: 2.6em;
  text-align: center;
  width: 100vw;
  font-family: "Times New Roman", Times, serif;
  color: var(--color-blue);
}
@media only screen and (min-width: 1200px) {
  .what-is-sport h2 {
    margin: 25px 0;
    font-size: 3em;
    width: auto;
  }
}

.where-we-play img,
.box-info-sport img {
  border-radius: 25px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 95%;
  height: 95%;
  -webkit-box-shadow: 5px 0px 25px;
          box-shadow: 5px 0px 25px;
}
@media only screen and (min-width: 1200px) {
  .where-we-play img,
.box-info-sport img {
    display: inline;
    width: 500px;
    height: 300px;
  }
}

.video-explication-sport {
  position: relative;
  margin: 10px 5px;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0px;
}
@media only screen and (min-width: 1200px) {
  .video-explication-sport {
    margin: 52px 0;
  }
}

.video-explication-sport iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.margin-left-image, .image-promotion a .button-promotion, .image-promotion .first-part-image-promotion {
  margin: 0 0 15px 15px;
}
@media screen and (min-width: 1200px) {
  .margin-left-image, .image-promotion a .button-promotion, .image-promotion .first-part-image-promotion {
    margin: 0 0 75px 75px;
  }
}

.image-promotion {
  background-image: url(../img/KitBackGroundProduct.avif);
  background-size: cover;
  position: relative;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 99vw;
  height: 100vh;
}
.image-promotion img {
  width: 99%;
  height: 100%;
}
.image-promotion .image-promotion-img {
  position: absolute;
  bottom: 4%;
  right: 3%;
  width: 220px;
  height: 200px;
}
.image-promotion .first-part-image-promotion {
  top: 0;
}
.image-promotion .first-part-image-promotion h3 {
  margin-top: 50px;
  font-family: "Luckiest Guy", cursive;
  font-size: 2.5em;
  text-shadow: 12px 13px 2px #0e0e0e;
  color: white;
}
.image-promotion .first-part-image-promotion p {
  font-size: 1.5em;
  color: white;
}
.image-promotion a {
  text-decoration: none;
}
.image-promotion a .button-promotion {
  border-radius: 15px;
  padding: 5px 15px;
  -webkit-box-shadow: 3px 1px 10px black;
          box-shadow: 3px 1px 10px black;
  background-color: rgba(4, 144, 168, 0.6);
  font-size: 1em;
  color: black;
}
.image-promotion a .button-promotion:hover {
  scale: 1.01;
  background-color: var(--color-blue);
}
@media screen and (min-width: 1200px) {
  .image-promotion {
    height: 1300px;
    margin: 50px 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .image-promotion a {
    text-decoration: none;
    font-size: 2em;
  }
  .image-promotion a .button-promotion {
    padding: 25px 45px;
    -webkit-box-shadow: 5px 3px 30px black;
            box-shadow: 5px 3px 30px black;
    font-size: 1.3em;
    color: black;
  }
  .image-promotion a .button-promotion:hover {
    scale: 1.01;
    background-color: var(--color-blue);
  }
  .image-promotion .image-promotion-img {
    bottom: 4%;
    right: 3%;
    width: 750px;
    height: 700px;
  }
  .image-promotion .first-part-image-promotion h3 {
    font-size: 7.5em;
    text-shadow: 12px 13px 2px #0e0e0e;
  }
  .image-promotion .first-part-image-promotion p {
    font-size: 3em;
  }
}

.where-we-play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 99%;
  margin: 0 0 35px;
}
.where-we-play img {
  margin: 0 50px 0 50px;
}
.where-we-play .display-none-mobile {
  display: none;
}
@media only screen and (min-width: 1200px) {
  .where-we-play {
    margin: 80px 0;
    width: 98%;
  }
  .where-we-play .display-none-mobile {
    display: block;
  }
}

.box-where-play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 98%;
}
.box-where-play a {
  -ms-flex-item-align: start;
      align-self: flex-start;
  border-radius: 15px;
  padding: 15px;
  margin: 15px 10px;
  text-decoration: none;
  font-size: 2em;
  background-color: #49d637;
}
.box-where-play p {
  width: 100%;
}
.box-where-play h4 {
  font-size: 4em;
  width: 100%;
  margin: 0 0;
}
@media only screen and (min-width: 1200px) {
  .box-where-play {
    width: 50%;
  }
  .box-where-play p {
    width: 100%;
    margin: 0;
  }
}

.image-cover-top {
  -o-object-position: top;
     object-position: top;
}

.image-background-header-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(246, 252, 245, 0.2)), to(black)), url(../img/BackGroundHeader.jpg);
  background-image: linear-gradient(to bottom, rgba(246, 252, 245, 0.2), black), url(../img/BackGroundHeader.jpg);
  /* background-image: url(../img/BackGroundHeader.jpg); */
  background-position: center;
  background-attachment: unset;
  background-repeat: no-repeat;
  height: 100vh;
  margin-top: -30px;
}
.image-background-header-contact h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 3em;
  color: white;
  text-align: center;
  text-shadow: 100px solid 2px black;
}
@media only screen and (min-width: 1200px) {
  .image-background-header-contact {
    height: calc(var(--screen-x) * 9 / 16);
    min-height: 600px;
    background-size: 100%;
    margin-top: 0;
  }
  .image-background-header-contact h1 {
    font-family: "Bebas Neue", cursive;
    font-size: 8em;
  }
}

.text-more-contact h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 3em;
  margin: 0 10px;
  color: white;
}
@media only screen and (min-width: 1200px) {
  .text-more-contact h2 {
    font-size: 5em;
  }
}

.contact-main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact-main-section h3 {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  font-size: 3em;
  margin: 10px;
}
@media only screen and (min-width: 1200px) {
  .contact-main-section {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    height: 100vh;
  }
  .contact-main-section h3 {
    font-size: 8em;
    margin: 50px;
  }
}

.box-contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 99vw;
  margin: 10px;
}
@media only screen and (min-width: 1200px) {
  .box-contact-section {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    width: 60vw;
    height: 60%;
    margin: 40px;
  }
}

.info-contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 99%;
  height: 100%;
}
.info-contact-section h4 {
  font-size: 3em;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-family: "Bebas Neue", cursive;
}
.info-contact-section p {
  font-size: 1.6em;
  font-family: "Bebas Neue", cursive;
}
.info-contact-section .social-media-contact-section {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
}
.info-contact-section .social-media-contact-section li .fa-instagram,
.info-contact-section .social-media-contact-section li .fa-facebook,
.info-contact-section .social-media-contact-section li .fa-whatsapp {
  color: #009FA9 !important;
}
@media only screen and (min-width: 1200px) {
  .info-contact-section {
    width: 50%;
  }
}

.extend-inputs-contact, .contact-form .component-input-text-comment, .contact-form .component-input-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px;
}
.extend-inputs-contact input, .contact-form .component-input-text-comment input, .contact-form .component-input-text input {
  width: 50%;
  height: 50px;
  border-radius: 20px;
  border: #63BCE2;
  background-color: #63BCE2;
  text-align: center;
}
@media only screen and (min-width: 1200px) {
  .extend-inputs-contact, .contact-form .component-input-text-comment, .contact-form .component-input-text {
    margin: 25px;
  }
  .extend-inputs-contact input, .contact-form .component-input-text-comment input, .contact-form .component-input-text input {
    width: 300px;
    height: 75px;
  }
}

.contact-form {
  width: 98%;
  background-color: #009FA9;
  border-radius: 24px;
  -webkit-box-shadow: 7px 6px 4px rgba(77, 77, 77, 0.6);
          box-shadow: 7px 6px 4px rgba(77, 77, 77, 0.6);
}
.contact-form .button-contact {
  width: 21%;
  height: 45px;
  right: 0;
  margin: 0 0 15px 75%;
  border-radius: 15px;
  border: #63BCE2;
  background-color: #63BCE2;
}
.contact-form .component-input-text-comment {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact-form .component-input-text-comment input {
  width: 100%;
  height: 150px;
}
.contact-form p {
  color: white;
  font-size: 2em;
  font-family: "Bebas Neue", cursive;
}
@media only screen and (min-width: 1200px) {
  .contact-form {
    width: 50%;
  }
  .contact-form p {
    font-size: 3em;
  }
}

body {
  position: relative;
  padding-bottom: 2rem;
  min-height: 100vh;
  padding-bottom: 380px;
}
@media only screen and (min-width: 1200px) {
  body {
    padding-bottom: 600px;
  }
}

footer {
  background-color: #009FA9;
  text-align: center;
  color: white;
  padding: 1em 0;
  bottom: 0;
  width: 100%;
  position: absolute;
}

.box-container-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
  margin: 0;
}
@media only screen and (min-width: 1200px) {
  .box-container-footer {
    width: 40%;
    margin: 0 30%;
  }
}

.information-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.information-footer .image-icon-arr-footer {
  width: 50%;
  height: 50%;
}
.information-footer .image-icon-arr-footer img {
  width: 100%;
  height: 100%;
}
.information-footer .links-footer {
  list-style: none;
  font-size: 1.4em;
  color: white;
  width: 50%;
}
.information-footer .links-footer li {
  margin: 15px 0;
}
.information-footer .links-footer li a {
  text-decoration: none;
  color: white;
}
@media only screen and (min-width: 1200px) {
  .information-footer .image-icon-arr-footer {
    width: 350px;
    height: 350px;
  }
  .information-footer .links-footer {
    font-size: 1.9em;
    width: 350px;
  }
}

.social-media-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.social-media-footer li a:link {
  font-size: 1.9em;
}
.social-media-footer li {
  list-style: none;
  margin: 15px;
}
.social-media-footer li .fa-instagram,
.social-media-footer li .fa-facebook,
.social-media-footer li .fa-whatsapp {
  color: white;
}
@media only screen and (min-width: 1200px) {
  .social-media-footer li a:link {
    font-size: 3.5em;
  }
}