$color-whiteblue: rgba(4, 144, 168, 0.6);
$color-footer: #009FA9;
$color-input: #63BCE2;

:root{
    --mainly-botton-color: rgba(224, 224, 224, 0.3);
    --mainly-botton-color-hover: rgb(255, 255, 255);
    --main-color-background-green: #0c701a;
    --linear-color-meeting: rgb(3, 131, 103);
    --screen-x: 1800px;
    
}

// main page
@import "sass/main-page/about-roundnet.scss";
@import "sass/main-page/main.scss";
@import "sass/main-page/header-menu.scss";
@import "sass/main-page/section-calendar.scss";
@import "sass/main-page/section-events.scss";
@import "sass/main-page/section-news.scss";


// about us section
@import "sass/other-pages/about-us-page.scss";

// sport  section
@import "sass/sport-section/main-sport-section.scss";

// contact
@import "sass/other-pages/contact-section.scss";

// gallery
@import "sass/other-pages/gallery.scss";

body{
    position: relative;
    padding-bottom: 2rem;
    min-height: 100vh;
    padding-bottom: 380px;

    @media only screen and (min-width: 1200px) {
        padding-bottom: 600px;
    }
}

// general footer
footer{
    background-color: $color-footer;
    text-align: center;
    color: white;

    // width: 100%;

    padding: 1em 0;

    bottom: 0;
    width: 100%;
    position: absolute;
}

.box-container-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    width: 100%;
    margin: 0;

    @media only screen and (min-width: 1200px) {
        width: 40%;
        margin: 0 30%;
    }
}

.information-footer{
    display: flex;
    justify-content: center;
    align-items: center;

    .image-icon-arr-footer{
        width: 50%;
        height: 50%;

        img{
            width: 100%;
            height: 100%;
        }
    }

    .links-footer{
        list-style: none;
        font-size: 1.4em;
        color: white;

        width: 50%;

        li{
            
            margin: 15px 0;
        }

        li a{
            text-decoration: none;
            color: white;
        }
    }

    @media only screen and (min-width: 1200px) {
        .image-icon-arr-footer{
            width: 350px;
            height: 350px;
        }

        .links-footer{
            font-size: 1.9em;    
            width: 350px;
        }
    }
}

.social-media-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    

    
    li a:link{
        
        font-size: 1.9em;
    }
    li{
        list-style: none;
        margin: 15px;

        transition: 0.9s;

        .fa-instagram,
        .fa-facebook,
        .fa-whatsapp{
            color: white;
        }
    }

    li:hover{
        .fa-instagram,
        .fa-facebook,
        .fa-whatsapp{
            transform: scale(1.09);
        }
    }

    @media only screen and (min-width: 1200px) {
        li a:link{
        
            font-size: 3.5em;
        }
    }
}