$width-video: 600px;
$width-box-meeting-placs: 92%;

.last-events-screen{
    width: 100%;
    margin: 50px 0 ;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    @media only screen and (min-width:500px){
        margin: 100px 0 ;
    }
    @media only screen and (min-width:1200px){
        width: 80%;
        margin: 100px 10% ;
    }
}

.last-events{
    width: 95vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media only screen and (min-width:1200px) {
        width: $width-video;
    }
}

.last-events h2{
    width: 100%;

    margin-top: 1rem;
    padding-bottom: 1%;

    text-align: center;
    font-size: 3.8em;
    font-style: normal;
    font-family: 'Permanent Marker', cursive;

    @media only screen and (min-width:1200px) {
        width: $width-video;
        font-size: 2.8em;
    }
}

.last-events h3{
    width: 92%;

    margin-top: 1rem;
    margin-bottom: 1rem;

    text-align: center;
    font-size: 1.7em;
    font-style: normal;
    font-family: 'Bebas Neue', cursive;

    @media only screen and (min-width: 500px) {
        font-size: 2.0em;
    }
    @media only screen and (min-width:1200px) {
        width: $width-video;
        font-size: 1.8em;
    }
}

.last-events-video{
    
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.last-events-video p{
    width: 100%;

    margin-top: 1rem;

    font-size: 1.6em;
    font-style: normal;
    font-family: 'Zen Kurenaido', sans-serif;

    @media only screen and (min-width:650px) {
        font-size: 2.2em;
    }
    @media only screen and (min-width:1200px) {
        width: $width-video;
        font-size: 1.8em;
    }
}

.last-events-video a{
    width: 60%;
    background-color: var(--color-blue);

    margin-top: 50px;
    padding: 1rem;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 2em;
    font-family: 'Anton', sans-serif;

    transition: all 0.5s;

    &:hover{
        background-color: var(--main-color-background-green);
        color: white;
    }

    @media only screen and (min-width: 650px) {
        font-size: 2.3em;
    }
    @media only screen and (min-width: 1200px) {
        font-size: 1.3em;
        width: 60%;

        align-self: flex-start;
    }
}

.events-video{
    width: 100%;
    height: 230px;

    background-color: aqua;

    @media only screen and (min-width:650px) {
        height: 500px;
    }

    @media only screen and (min-width:1200px) {
        width: 100%;
        height: 300px;
    }
}

// meet section

.box-dimentions{
    border: 1px solid rgba($color: black, $alpha: 0.2);
    border-radius: 15px;
}

.meeting-places{
    width: 95vw;
    background-color: var(--color-blue);

    margin-top: 60px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    box-shadow: 1px 0px 20px 2px;

    @media only screen and (min-width:500px){
        margin-top: 120px;
    }
    @media only screen and (min-width:1200px){
        margin-top: 0;
        width: 600px;
    }
}

.meeting-places h2{
    width: 90%;
    margin: 3% 0;
    padding: 5px 0 0 0;

    text-align: center;
    font-size: 1.6em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    @media only screen and (min-width:1200px) {

    }
    @media only screen and (min-width:1200px) {
        width: 80%;

        font-size: 2em;
    }
}

.box-places{
    width: $width-box-meeting-placs;
    padding: 2% 5%;
    margin: 1%;

    position: relative;

    @extend .box-dimentions;

    h3{
        font-size: 1.5em;
        font-family:Arial, Helvetica, sans-serif;
    }

    p{
        width: 60%;
        padding: 10px 0;

        font-size: 0.6em;
        font-family:Arial, Helvetica, sans-serif;
    }

    @media only screen and (min-width:500px){
        h3{
            font-size: 2em;
            font-family:Arial, Helvetica, sans-serif;
        }

        p{
            width: 70%;
            font-size: 0.8em;
            padding: 10px 0;
        }    
    }
    @media only screen and (min-width:1200px){
        padding: 20px 50px;

        h3{
            font-size: 2em;
            font-family:Arial, Helvetica, sans-serif;
        }

        p{
            width: 70%;
            font-size: 0.9em;
            padding: 10px 0;
        }    
    }
}

.box-places a{
    text-decoration: none;

    transition: all 2s;

    
}

.btn-box-places{
    width: 50%;
    height: 30px;
    background-color: #001b5e;
    border-radius: 8px;
    transition: all 0.5s;

    h4{
        padding: 5px 0 ;

        text-align: center;
        font-size: 1em;
        text-decoration: none;
        color: white;
    }

    &:hover{
        background-color: #95aae088;
    }

    display: flex;
    justify-content: space-around;
    align-items: center;

    @media only screen and (min-width:500px){
        width: 60%;
        height: 60px;
        h4{
            font-size: 1em;
        }
    }
    @media only screen and (min-width:1200px){
        width: 50%;
        height: auto;

        h4{
            font-size: 1.5em;
        }
    }
}

.icon-whats{
    font-size: 1em;
    color: white;
    @media only screen and (min-width:650px){
        font-size: 1.1em;
    }
    @media only screen and (min-width:1200px){
        font-size: 1.5em;
    }
}

.image-meeting-places{
    right: 10px;
    top: 45%;
    bottom: 25px;
    width: 100px;
    height: 60px;
    position: absolute;


    // border-radius: 28px 71px  34px 69px;

    background-size: cover;
    // background-color: #005e1f;

    img{
        width: 100px;
        height: 60px;
        border: 2px white solid;
    }

    @media only screen and (min-width:650px){
        width: 150px;
        height: 100px;

        top: auto;
        img{
            width: 150px;
        height: 100px;
        }
    }
    @media only screen and (min-width:1200px) {
        width: 130px;
        height: 90px;

        top: auto;
        right: 25px;

        img{
            width: 130px;
            height: 90px;
        }
    }
}

.box-places:nth-child(odd){
    .image-meeting-places img{
        border-radius: 71px 34px 69px 28px;
    }
}

.box-places:nth-child(even){
    .image-meeting-places img{
        border-radius: 28px 71px  34px 69px;
    }
}

.btn-show-more{
    @extend .box-dimentions;
    
    padding: 10px;
    margin: 5px 0;

}

.meeting-places a{
    margin-bottom: 10px;
    width: $width-box-meeting-placs;

    text-decoration: none;
    color: black;
    text-align: center;
}




